head{
    icon: url("devicon.ico");
    background-color: #ff2b88;
}

body{
    background-image: url("");
}


header{
    margin: 0;
    padding-bottom: 0;
    background-color: #ff2b88;
    border-radius: 5px;

}


fieldset#field1{
    background-color: #2aabd2;
    border-color: black;
    border-radius: 5px;
    box-shadow: black;
    margin-left: 300px;
    margin-right: 300px;
    padding-bottom: 200px;
    padding-right: 300px;
    overflow: hidden;
}


button{
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: #9d9d9d;
    background-color: transparent;
}

legend{
    padding: 10px;
    background-color: white;
    border-radius: 5px;
}

ul{
    margin: 0;
    padding:0;
    background-color: #666;
    border-radius: 5px;
    list-style-type: none;
    overflow: hidden;
}

li{
    float: left;
}

li a{
    display: block;
    border-radius: 5px;
    padding: 20px 30px;
    color: white;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

li a:hover{
    background-color: #ff2b88;
    opacity: 0.5;
}

article{
    background-color: #2aabd2;
    margin-right: 100px;
    padding-bottom: 200px;
    padding-left: 150px;
    color: blue;
    border-radius: 5px;
    overflow: hidden;
    float: left;

}

article:hover{
    -webkit-transition: height 4s;
    height: 30px;
}

article#article2{
    background-color: #2aabd2;
    margin-right: 0;
    padding-bottom: 200px;
    padding-right: 150px;
    padding-left: 0;
    color: blue;
    border-radius: 5px;
    overflow: hidden;
    float: right;
}

img{
    margin: 30px;
    opacity: 1;
}

img:hover{
    -webkit-transform: rotateX(360deg) ;
    -webkit-transition: 3s;
    -webkit-transition-timing-function: ease-in-out;
}

footer{
    margin-top: 1000px;
    padding-bottom: 350px;
    background-color: #ff2b88;
    opacity:0.5;
    border-radius: 5px;
}

div{
    margin-top: 30px;
    float: left;
    
}

h1#contact{
    margin-right: 90px;
    float: right;
    font-family: "Comic Sans MS";

}

fieldset#field2{
    margin-top: 50px;
    margin-left: 100px;
    padding: 40px;
    float: right;
    background-color: transparent;
    border-radius: 5px;
    border: 4px solid black;
    box-shadow: #5e5e5e;
    -webkit-border-top-right-radius: 2px;
    font-family: "Arial Black";
    color: #0f0f0f;

}

input {
    display: inline-block;
    margin-left: 90px;
    border-radius: 5px;
    box-shadow: #0f0f0f;
    background-color: #666;
}

h1#header1{
    text-align: left;
    font-size: x-large;
}

pre#pre1{
    text-align: left;
    font-size: medium;
}






